
body {
    background: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: center;
}

.lamp {
    display: flex;
    margin: 8px 1%;
    border-radius: 50%;
    height: 28px;
    width: 14px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 1s all ease;
  }

.lamp:after {
    content: "";
    position: absolute;
    width: 45px;
    top: -17px;
    left: 7px;
    border-radius: 50%;
    border-bottom: 2px solid #323232;
    height: 20px;
}

.lamp:before {
    width: 14px;
    background: #323232;
    height: 12px;
    border-radius: 4px;
    content: "";
    position: absolute;
    top: -8px;
    
}

.main div:last-child:after {
    display: none !important;
}


.yellow {
  background: #fffb00;
}

.green {
    background: #00ff6e;
}


.blue {
  background: #1862f5;
}

.red {
    background: #f51818;
}